<div class="container mt-4">
  <h1>Sell your watch</h1>
  <%= simple_form_for ( @watch ) do |f| %>
    <%= f.input :brand %>
    <%= f.input :reference_number %>
    <%= f.input :condition %>
    <%= f.input :price %>
    <%= f.input :model_year %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Submit watch", class: "btn btn-outline-primary" %>
  <% end %>
</div>