<ul>
  <% @watches.each do |watch| %>
    <li><%= watch.brand %></li>
    <li><%= watch.reference_number %></li>
    <li><%= watch.model_year %></li>
    <li><%= watch.price %></li>
    <li><%= watch.condition %></li>
  <% end %>
</ul>
