<div class="container" id="container_show">
	<div class="card-product" id="card_product_show">
		<%= cl_image_tag @watch.photo.key %>
		<div class="card-product-infos">
			<h3 class="card-title">Brand: <%= @watch.brand %></h3>
			<p class="card-text">Reference number: <%= @watch.reference_number %></p>
			<p class="card-text">Model year: <%= @watch.model_year %></p>
			<p class="card-text">Price: <%= @watch.price %>$</p>
			<p class="card-text">Condition: <%= @watch.condition %></p>
			<hr>
			<%= simple_form_for ( @watch ) do |f| %>
  			<%= f.input :price %>
				<%= f.submit "Submit bid", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>
