<!DOCTYPE html>
<html>
  <head>
    <title>Luxury Watch Store</title>
    <%= favicon_link_tag 'https://res.cloudinary.com/dnygdmomh/image/upload/v1599179553/Watches/watch_icon.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <!-- render filepath -->

    <%= render "shared/navbar" %>
    <!-- anything in the views is retrieved by yield -->

    <%= yield %>

    <%= render 'shared/flashes' %>
  </body>
</html>
